@import "vars.css";

dialog {
    border: none;
    border-radius: var(--site-folder-border);
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    background: linear-gradient(var(--theme-primary), var(--theme-secondary));
    color: var(--theme-text);
    max-width: 50vw;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

div.dialog-title {
    padding-bottom: 5vh;
    font-family: var(--theme-font);
    font-size: var(--theme-font-size-large);
    font-weight: bold;
}

div.dialog-title > button {
    float: right;
    width: 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none !important;
    background-color: transparent;
    color: inherit;
}

div.dialog-body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

div.dialog-body > site-element:not(:last-child) {
    margin-right: 1rem;
}

div.dialog-body > site-element:not(:first-child) {
    margin-left: 1rem;
}

div.dialog-body > site-element {
    margin-bottom:  2vh;
}
