@import "vars.css";

html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 90%;
}
main {
  height: 100%;
  padding: 2em;
  display: flex;
  justify-content: center;
}
section#mainSiteList {
  height: 100%;
  width: 85%;
  border-radius: var(--container-border);
  background:
    linear-gradient(var(--theme-primary), var(--theme-secondary)),
    var(--background-image, none) no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0.5em;
  flex-wrap: wrap;
}

site-element, site-folder {
  margin: 0.5em 1em;
}

@media screen and (max-width: 1350px) and (min-width: 801px) {
  section#mainSiteList {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  main {
    padding: 0;
    height: 95%;
  }

  body, section#mainSiteList {
    height: 100%;
  }
}
