@import "vars.css";

a {
    text-decoration: none;
    color: var(--theme-text);
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    filter: grayscale(var(--inactive-gray));
    font-family: var(--theme-font);
    word-wrap: anywhere;
}

a:hover {
    filter: none;
    font-weight: bold;
}

img {
    width: inherit;
    height: 100px;
    margin-bottom: 5px;
    border-radius: var(--site-folder-border);
}