:host, :root {
  --theme-primary: #e0e0e255;
  --theme-secondary: #0077fa44;
  --theme-tertiary: #00635d;
  --theme-text: #e3b505;
  --theme-font: "Fira Code", monospace;
  --container-border: 5px;
  --theme-font-size: 16px;
  --background-image: url("add your background image here");
  /* for expanded folder title */
  --theme-font-size-large: var(--theme-font-size);
  --site-folder-border: var(--container-border);
  --inactive-gray: 70%;
}
